<!DOCTYPE html>
<html lang="en" xml:lang="en" id="pgs">
    <head profile="http://www.w3.org/2005/10/profile">
      <link rel="icon" 
        type="image/png" 
        href="images/brainicon-06.png">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <meta http-equiv="X-UA-Compatible" content="ie=edge" />
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

            <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
            
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link href="stylesheets/style.css" type="text/css" rel="stylesheet">
            <link href="stylesheets/mobile.css" type="text/css" rel="stylesheet">
            <link href="stylesheets/loneliness.css" type="text/css" rel="stylesheet">                                               
        <title>Loneliness</title>
       
     </head>

    <body id="pgs">
     <!-- instructions from https://www.w3schools.com/howto/howto_js_mobile_navbar.asp -->
     <!-- Simulate a smartphone / tablet -->
        <div class="mobile-container">
        
            <!-- Top Navigation Menu -->
            <div class="topnav">
                <a href="/" class="active" id="lonemobile" style="font-family:'Luckiest Guy', cursive;">BRAIN&#9889SPARK</a>
                <div id="myLinks">
                    <a href="selfharm" id="shmobile">self-harm</a>
                    <a href="depression" id="depmobile">depression</a>
                    <a href="anxiety" id="anxmobile">anxiety</a>
                    <a href="about" id="aboutmobile">about</a>
                </div>
                <a href="javascript:void(0);" class="icon" onclick="menuFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            
        <!-- end of smartphone / tablet -->
        </div>
        
        <div class="largeScreen">
        <header class="header-container">
            <div class="hometag" id="lone">Loneliness</div>
        </header>
    
        <nav class="navigation">
            <div><a href="/" class="nav-button-link"><button class="nav-buttons" id="home-nav-button">home</button></a></div>
            <div><a href="selfharm" class="nav-button-link"><button class="nav-buttons" id="self-harm-nav-button">self-harm</button></a></div>
            <div><a href="depression" class="nav-button-link"><button class="nav-buttons" id="depression-nav-button">depression</button></a></div>
            <div><a href="anxiety" class="nav-button-link"><button class="nav-buttons" id="anxiety-nav-button">anxiety</button></a></div>
            <div><a href="about" class="nav-button-link"><button class="nav-buttons" id="about-nav-button">about</button></a></div>
        </nav>
        </div>
    
        <aside class="about-boxes">
            <section class="info-aside" id="lone-size"><div class="lone-info-aside"><h2 class="small-caps">loneliness tools</h2>
                <p>Humans are social creatures, and it isn't surprising that sometimes we will feel loneliness. When you are struggling with mental health it might seem like no one can relate to you, but there definitely are other people who can appreciate you and your thoughts. To this end, we wanted to provide you with this message board to interact with other users. You are not alone! </p></div></section>
        </aside>
    
        <main class="page">
            <section class="related-info" id="lone-order-ri">
                <div class="container lone-login-style">
                    <div class="row">
                      <div class="col center-block">
                        <form id="postMessage">
                          <div class="form-group title">
                            <h2 class="small-caps">chat with us</h2>
                          </div>
                          <div class="form-group">
                            <label for="name">Username:</label>
                            <input type="text" class="form-control" id="lonelinessPostName">
                          </div>
                          <div class="form-group">
                            <label for="message">Thoughts Today?</label>
                            <textarea class="form-control" id="lonelinessPostBody" required></textarea>
                          </div>
                          <div class="button-container">
                            <button type="submit" class="btn btn-primary submitPost">Submit</button>
                            <button type="submit" class="btn btn-secondary clearForm">Reset</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
            </section>
            <section class="content1 board-content" id="lone-order-c1">
                <div class="post-container">
                    <div id="posts"></div>
                </div>
            </section>
        </main>
    
        
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/mobile.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="javascripts/discussionBoard.js"></script>
    
    </body>
    
</html>