<!DOCTYPE html>
<html lang="en" xml:lang="en" id="pgs">
    <head profile="http://www.w3.org/2005/10/profile">
        <link rel="icon" 
            type="image/png" 
            href="images/brainicon-06.png">
            <meta name="description" content="Tools for mental health and self-harm."/>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <meta http-equiv="X-UA-Compatible" content="ie=edge" />
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

            <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
            
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link href="stylesheets/style.css" type="text/css" rel="stylesheet">
            <link href="stylesheets/mobile.css" type="text/css" rel="stylesheet"> 
            <link href="stylesheets/selfharm.css" type="text/css" rel="stylesheet">
                                  
        <title>Self-Harm</title>
    </head>

    <body id="pgs">
     <!-- instructions from https://www.w3schools.com/howto/howto_js_mobile_navbar.asp -->
     <!-- Simulate a smartphone / tablet -->
        <div class="mobile-container">
        
            <!-- Top Navigation Menu -->
            <div class="topnav">
                <a href="/" class="active" id="shmobile" style="font-family:'Luckiest Guy', cursive;">BRAIN&#9889SPARK</a>
                <div id="myLinks">
                    <a href="depression" id="depmobile">depression</a>
                    <a href="anxiety" id="anxmobile">anxiety</a>
                    <a href="loneliness" id="lonemobile">loneliness</a>
                    <a href="about" id="aboutmobile">about</a>
                </div>
                <a href="javascript:void(0);" class="icon" onclick="menuFunction()" title="menu">
                    <span class="visually-hidden">menu</span><i class="fa fa-bars"></i>
                </a>
            </div>
            
        <!-- end of smartphone / tablet -->
        </div>
        
        <div class="largeScreen">
    
        <header class="header-container">
            <div class="hometag" id="sh">Self-Harm</div>
        </header>


        <nav class="navigation">
            <div aria-title="home"><a href="/" class="nav-button-link" title="home"><button class="nav-buttons" id="home-nav-button">home</button></a></div>
            <div aria-title="depression"><a href="depression" class="nav-button-link" title="depression"><button class="nav-buttons" id="depression-nav-button">depression</button></a></div>
            <div aria-title="anxiety"><a href="anxiety" class="nav-button-link" title="anxiety"><button class="nav-buttons" id="anxiety-nav-button">anxiety</button></a></div>
            <div aria-title="loneliness"><a href="loneliness" class="nav-button-link" title="loneliness"><button class="nav-buttons" id="loneliness-nav-button">loneliness</button></a></div>
            <div aria-title="about"><a href="about" class="nav-button-link" title="about"><button class="nav-buttons" id="about-nav-button">about</button></a></div>
        </nav>
        </div>
        <aside class="about-boxes">
            <section class="info-aside" id="sh-size"><div class="sh-info-aside"><h2 class="small-caps">self-harm tools</h2>
                <p>Below you'll find a search tool to find people and places that can help you if you are dealing with thoughts of self-harm. If you are having an emergency, please call for help. Here are also a few US text and phone-based resources: </p></div>
                
                <div class="sh-numbers"><p><strong>&#9889 National Suicide Prevention Lifeline:</strong><br><a href="tel:1-800-273-8255" class="nav-button-link self-harm"> 1-800-273-8255</a> &#8226 <a href="https://suicidepreventionlifeline.org" target=”_blank” class="nav-button-link self-harm">suicidepreventionlifeline.org</a></p></div>
                
                <div class="sh-numbers"><p><strong>&#9889 List of Suicide Hotlines in the US:</strong><br> <a href="http://www.suicide.org/suicide-hotlines.html" target=”_blank” class="nav-button-link self-harm">suicide.org</a></p></div>
               
                <div class="sh-numbers"><p><strong>&#9889 National Domestic Violence Hotline:</strong><br> <a href="tel:1-800-799-7233" class="nav-button-link self-harm">1-800-799-7233</a> &#8226 <a href="tel:1-800-787-3224" class="nav-button-link self-harm">1-800-787-3224 (TTY)</a> &#8226 <a href="https://www.thehotline.org" target=”_blank” class="nav-button-link self-harm">thehotline.org</a></p></div>
                
                <div class="sh-numbers"><p><strong>&#9889 LGBTQIA+ Hotline:</strong><br> <a href="tel:1-866-488-7386" class="nav-button-link self-harm">1-866-488-7386</a> &#8226 <a href="https://www.thetrevorproject.org" target=”_blank” class="nav-button-link self-harm">thetrevorproject.org</a></p></div>
                
                <div class="sh-numbers"><p><strong>&#9889 Trans Lifeline:</strong><br> <a href="tel:1-877-565-8860" class="nav-button-link self-harm">1-877-565-8860</a> &#8226 <a href="https://www.translifeline.org" target=”_blank” class="nav-button-link self-harm">translifeline.org</a></p></div>
                
                <div class="sh-numbers"><p><strong>&#9889 Call to Safety:</strong><br> <a href="tel:1-888-235-5333" class="nav-button-link self-harm">1-888-235-5333</a> &#8226 <a href="https://calltosafety.org" target=”_blank” class="nav-button-link self-harm">calltosafety.org</a></p></div>
                
            </section>
        </aside>
    
        <main class="page">
            <section class="related-info" id="sh-order-ri">
              <div id="places"><h5 class="small-caps">search results:</h5></div>
            </section>
            <section class="content1" id="sh-order-c1">
                <div id="map"></div>
                <div class="container checkbox-container">
                    <div class="d-flex align-items-end flex-row flex-wrap row-wrap">
                        <div class="col">
                            <label for="mentalhealth-checkbox">Mental Health Providers</label><br>
                            <input type="checkbox" id="mentalhealth-checkbox" data-toggle="toggle" onchange="mapsQuery(this.id)">
                        </div>
                        <div class="col">
                            <label for="psychiatric-checkbox">Inpatient & Outpatient Psychiatric Care</label><br>
                            <input type="checkbox" id="psychiatric-checkbox" data-toggle="toggle" onchange="mapsQuery(this.id)">
                        </div>
                        <div class="col">
                            <label for="addiction-checkbox">Addiction Rehab & Detox</label><br>
                            <input type="checkbox" id="addiction-checkbox" data-toggle="toggle" onchange="mapsQuery(this.id)">
                        </div>
                    </div>
                    <div class="d-flex align-items-end flex-row flex-wrap row-wrap">
                        <div class="col">
                            <label for="shelters-checkbox">Shelters & Emergency Housing</label><br>
                            <input type="checkbox" id="shelters-checkbox" data-toggle="toggle" onchange="mapsQuery(this.id)">
                        </div>
                        <div class="col">
                            <label for="lgbtq-checkbox">LGBTQIA+ Mental Health</label><br>
                            <input type="checkbox" id="lgbtq-checkbox" data-toggle="toggle" onchange="mapsQuery(this.id)">
                        </div>
                        <div class="col">
                            <label for="hospital-checkbox">Hospitals & Urgent Care</label><br>
                            <input type="checkbox" id="hospital-checkbox" data-toggle="toggle" onchange="mapsQuery(this.id)">
                        </div>
                    </div>
                </div>
            </section>
        </main>
        
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="javascripts/mobile.js"></script>
        <script type="text/javascript" src="javascripts/maps.js"></script>
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7RLFyMabLT8kRHO777mEDX4McE2hrMxc&libraries=places&callback=initMap"></script>
                                 

    </body>
    
</html>







