
a{
  text-decoration: none;
  color: #000000;
}
a:hover{
  text-decoration: none;
  color: var(--purple-w-white);
}
a:visited{
  text-decoration: none;
  color: var(--green-w-white);
}
h5.small-caps{
  font-variant: small-caps;
  color: #000000;
  font-weight: 600;
  font-size: 2.5rem;
}
h2.small-caps{
    font-variant: small-caps;
    font-size: 2rem;
    font-weight: 600;
  }
  
#more-about{
  text-align: center;
}
#kristin{
  text-align: center;
}
#james{
  text-align: center;
}
.personinfo{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#person{
  width: 95%;
  margin: 20px 10px 0px 10px;
}
.persontext{
  text-align: left;
  padding: 20px 10px 0px 10px;
  margin: 0px 10px 0px 10px;
}
#mountain{
  width: 95%;
  margin: 0 10px 10px 10px
}
#coronacat{
  width: 49%;
}
@media (max-width: 320px) {
 }

@media (min-width: 321px) and (max-width: 375px){
 
  }

@media (min-width: 376px) and (max-width: 599px){
   
}
@media (min-width: 600px) and (max-width: 767px){
  
}
@media (min-width: 768px) and (max-width: 1023px){
  
}
@media (min-width: 1024px) and (max-width: 1349px){
 
}
@media (min-width: 1350px) and (max-width: 1919px){
  .persontext{
    padding: 20px 30px 30px 30px;
  }
}
@media (min-width: 1920px){
  .persontext{
    padding: 40px 50px 30px 50px;
  }
}


