  
h5.small-caps{
  font-variant: small-caps;
  color: #000000;
  font-weight: 600;
  font-size: 2rem;
}
h2.small-caps{
    font-variant: small-caps;
    font-size: 2rem;
    font-weight: 600;
  }
label {
  font-size: 0.6em;
}

.relaxation{
  width: 100%;
  padding: 20px 10px 10px 10px;
  margin: 20px 0px;
  background-color: var(--purple-w-black);
  border-color: var(--purple-w-black);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
}

.yoga{
  width: 100%;
  padding: 20px 10px 10px 10px;
  margin: 20px 0px;
  background-color: var(--purple-w-black);
  border-color: var(--purple-w-black);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;

}

.slide{
  position: relative;
}

.fa{
  color: var(--purple-w-black);
  font-size: 70px;
  font-weight: 800;
}
/*
.carousel-control-next-icon.primary{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%bf77fd' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#BF77FD' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
*/
.carousel{
  border-color: #000000;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}

.carousel-indicators{
  padding-top: 10px;
  border: none;
}