h5.small-caps{
  font-variant: small-caps;
  color: #000000;
  font-weight: 600;
  font-size: 2rem;
}
h2.small-caps{
    font-variant: small-caps;
    font-size: 2rem;
    font-weight: 600;
  }
label {
  font-size: 0.6em;
}

.relaxation{
  width: 100%;
  padding: 20px 10px 10px 10px;
  margin: 20px 0px;
  background-color: var(--purple-w-black);
  border-color: var(--purple-w-black);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
}

.yoga{
  width: 100%;
  padding: 20px 10px 10px 10px;
  margin: 20px 0px;
  background-color: var(--purple-w-black);
  border-color: var(--purple-w-black);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;

}

.slide{
  position: relative;
}

.carousel-inner{
  border-color: #000000;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}

.carousel-indicators{
  padding-top: 10px;
  border: none;
}

.carousel-control-next {
  justify-content: flex-start;
  width: 6%;
}

.carousel-control-prev {
  justify-content: flex-end;
  width: 6%
}