	html, body {
		background-color: #444;
		z-index: -2;
		font-family: 'Playfair Display', serif;
		margin: 0;
		height: 100%;
	}
	
	body{
		padding-top: 30px;
	}
	
	#pgs{
		background-color: #DDD;
		min-width: 100%;
	}
	
	@media (max-width: 320px) {
		#home{
			width: 305px;
			height: 600px;
		}
		.brain{
			top: 0px;
		}
		.brain-container{
			width: 305px;
		}
		.hometag{
			font-size: 2.2rem;
			padding: 20px 5px 10px 5px;
		}
		.home-container{
			height: 80px;
			width: 90%
		}
		.container{
			height: 90px;
			width: 100%;

		}
		.self-harm-div{
			top: -244px;
			left: -24px;
		}
		.depression-div{
			top: -338px;
			left: 80px;
		}
		.anxiety-div{
			top: -314px;
			left: 145px;
		}
		.loneliness-div{
			top: -314px;
			left: 55px;
		}
		.about-div{
			top: -300px;
			left: 155px;
		}
		.all-home-buttons{
			font-size: 1rem;
		}
		.middle-box{
			top: 220px;
			height: 25px;
		}	
		.mid-box-alt{
			top: 900px;
			height: 25px;
		}
		
		#sh-color.mid-box-alt{
			top: 1200px;
		}

		.nav-buttons{
			display: inline-flex;
			flex-flow: row wrap;
			justify-content: center;
			align-content: center;
			width: 200px;
			font-size: 1.25rem;

		}	
		.navigation{
			display: flex;
			flex-flow: column wrap;
			align-items: center;
		}
		.info-aside{
			width: 300px;
			height: 400px;
			font-size: 1rem;
		}
		#sh-size.info-aside{
			height: 630px;
			width: 300px;
			display: flex;
			flex-flow: column nowrap;		
		}
		
		.sh-info-aside{
			margin: 0px 10px -10px 10px;
		}
		
		.sh-numbers{
			margin: -10px 10px;
			padding: 0px 10px 0px 10px;
			font-size: .75em;
		}

		.related-info{
			width: 300px;
			height: 600px;
			font-size: 1rem;
		}
		
		#sh-order-ri.related-info{
			order: 1;
		}
		
		.content1{
			width: 300px;
			height: 600px;
			font-size: 1rem;
		}
		
		#sh-order-c1.content1{
			order: -1;
		}
	}

	@media (min-width: 321px) and (max-width: 375px){
		#home{
			width: 321px;
			height: 700px;
		}
		.brain{
			top: -20px;
		}
		.brain-container{
			width: 321px;
		}
		.hometag{
			font-size: 2.25rem;
			padding: 20px 5px 10px 5px;
		}
		.home-container{
			height: 100px;
			width: 90%;
		}
		.container{
			height: 100px;
			width: 100%;

		}
		.self-harm-div{
			top: -270px;
			left: 0px;
		}
		.depression-div{
			top: -377px;
			left: 90px;
		}
		.anxiety-div{
			top: -360px;
			left: 150px;
		}
		.loneliness-div{
			top: -370px;
			left: 66px;
		}
		.about-div{
			top: -379px;
			left: 185px;
		}
		.all-home-buttons{
			font-size: 1.15rem;
		}
		#sh-color{
			top: 400px;
		}
		.middle-box{
			top: 220px;
			height: 25px;
		}
		.mid-box-alt{
			top: 900px;
			height: 25px;
		}
		
		#sh-color.mid-box-alt{
			top: 1200px;
		}

		.nav-buttons{
			display: inline-flex;
			flex-flow: row wrap;
			justify-content: center;
			align-content: center;
			width: 200px;
			font-size: 1.25rem;

		}	
		.navigation{
			display: flex;
			flex-flow: column wrap;
			align-items: center;
		}
		.info-aside{
			width: 300px;
			height: 400px;
			font-size: 1rem;
		}
		#sh-size.info-aside{
			height: 630px;
			width: 300px;
			display: flex;
			flex-flow: column nowrap;		
		}
		
		.sh-info-aside{
			margin: 0px 10px -10px 10px;
		}
		
		.sh-numbers{
			margin: -10px 10px;
			padding: 0px 10px 0px 10px;
			font-size: .85em;
		}

		.related-info{
			width: 300px;
			height: 600px;
			font-size: 1rem;
		}
		#sh-order-ri.related-info{
			order: 1;
		}
		
		.content1{
			width: 300px;
			height: 600px;
			font-size: 1rem;
		}
		
		#sh-order-c1.content1{
			order: -1;
		}

	}
	
	@media (min-width: 376px) and (max-width: 599px){
		#home{
			width: 376px;
			height: 700px;
		}
		.brain{
			top: -15px;
		}
		.brain-container{
			width: 376px;
		}
		.hometag{
			font-size: 2.7rem;
			padding: 20px 5px 10px 5px;
		}
		.home-container{
			height: 100px;
			width: 90%;
		}
		.container{
			height: 100px;
			width: 100%;

		}
		.self-harm-div{
			top: -310px;
			left: 10px;
		}
		.depression-div{
			top: -420px;
			left: 128px;
		}
		.anxiety-div{
			top: -402px;
			left: 190px;
		}
		.loneliness-div{
			top: -408px;
			left: 85px;
		}
		.about-div{
			top: -409px;
			left: 195px;
		}
		.all-home-buttons{
			font-size: 1.25rem;
		}
		.middle-box{
			top: 240px;
			height: 25px;
		}
		.mid-box-alt{
			top: 900px;
			height: 25px;
		}
		
		#sh-color.mid-box-alt{
			top: 1140px;
		}
		
		.nav-buttons{
			display: inline-flex;
			flex-flow: row wrap;
			justify-content: center;
			align-content: center;
			width: 200px;
			font-size: 1.25rem;

		}	
		.navigation{
			display: flex;
			flex-flow: column wrap;
			align-items: center;
		}
		.info-aside{
			width: 350px;
			height: 400px;
			font-size: .9rem;
		}
		#sh-size.info-aside{
			height: 550px;
			width: 350px;
			display: flex;
			flex-flow: column nowrap;		
		}
		
		.sh-info-aside{
			margin: 0px 10px -10px 10px;
		}
		
		.sh-numbers{
			margin: -10px 10px;
			padding: 0px 10px 0px 10px;
			font-size: 1em;
		}

		.related-info{
			width: 350px;
			height: 600px;
			font-size: 1rem;
		}
		#sh-order-ri.related-info{
			order: 1;
		}
		
		.content1{
			width: 350px;
			height: 600px;
			font-size: 1rem;
		}
		
		#sh-order-c1.content1{
			order: -1;
		}
		
	}
	@media (min-width: 600px) and (max-width: 767px){
		#home{
			width: 590px;
			height: 900px;
		}
		
		.brain{
			top: -15px;
		}
		
		.brain-container{
			width: 590px;
		}
		.hometag{
			font-size: 4rem;
			padding: 15px 5px 5px 5px;
		}
		.home-container{
			height: 100px;
			width: 90%;
		}
		.container{
			height: 100px;
			width: 100%;

		}
		.self-harm-div{
			top: -450px;
			left: 70px;
		}
		.depression-div{
			top: -600px;
			left: 250px;
		}
		.anxiety-div{
			top: -540px;
			left: 370px;
		}
		.loneliness-div{
			top: -520px;
			left: 205px;
		}
		.about-div{
			top: -470px;
			left: 345px;
		}
		.all-home-buttons{
			font-size: 1.25rem;
		}
		.middle-box{
			top: 340px;
			height: 45px;
		}
		.mid-box-alt{
			top: 800px;
			height: 45px;
		}
		#sh-color.mid-box-alt{
			top: 1150px;
		}
		.nav-buttons{
			display: inline-flex;
			flex-flow: row wrap;
			justify-content: center;
			align-content: center;
			width: 200px;
			font-size: 1.25rem;

		}
		.navigation{
			display: flex;
			flex-flow: column wrap;
			align-items: center;
		}
		.info-aside{
			width: 550px;
			height: 250px;
			font-size: 1rem;
		}
		#sh-size.info-aside{
			height: 550px;
			width: 550px;
			display: flex;
			flex-flow: column nowrap;		
		}
		
		.sh-info-aside{
			margin: 0px 10px -10px 10px;
		}
		
		.sh-numbers{
			margin: -10px 10px;
			padding: 0px 10px 0px 10px;
			font-size: 1em;
		}

		.related-info{
			width: 550px;
			height: 300px;
			font-size: 1rem;
		}
		#sh-order-ri.related-info{
			order: 1;
		}
		
		.content1{
			width: 550px;
			height: 600px;
			font-size: 1rem;
		}
		
		#sh-order-c1.content1{
			order: -1;
		}
		
	}

	@media (min-width: 768px) and (max-width: 1023px){
		#home{
			width: 768px;
			height: 1200px;
		}	
		.brain{
			top: -15px;
		}
		.brain-container{
			width: 768px;
		}
		.hometag{
			font-size: 3.25rem;
			padding: 10px 5px 10px 5px;
		}
		.home-container{
			height: 100px;
			width: 90%;
		}
		.container{
			height: 100px;
			width: 100%;

		}
		.self-harm-div{
			top: -570px;
			left: 140px;
		}
		.depression-div{
			top: -730px;
			left: 350px;
		}
		.anxiety-div{
			top: -640px;
			left: 460px;
		}
		.loneliness-div{
			top: -620px;
			left: 280px;
		}
		.about-div{
			top: -549px;
			left: 485px;
		}
		.all-home-buttons{
			font-size: 1.5rem;
		}
		
		.middle-box{
			top: 420px;
			height: 75px;
		}
		.mid-box-alt{
			top: 650px;
			height: 75px;
		}
		#sh-color.mid-box-alt{
			top: 950px;
		}
		.nav-buttons{
			display: inline-flex;
			flex-flow: row wrap;
			justify-content: center;
			align-content: center;
			width: 245px;
			font-size: 1.25rem;

		}	
		.navigation{
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
		}
		.info-aside{
			width: 600px;
			height: 300px;
			font-size: 1rem;
		}
		#sh-size.info-aside{
			height: 520px;
			width: 600px;
			display: flex;
			flex-flow: column nowrap;		
		}
		
		.sh-info-aside{
			margin: 0px 10px -10px 10px;
		}
		
		.sh-numbers{
			margin: -10px 10px;
			padding: 0px 10px 0px 10px;
			font-size: 1em;
		}

		.related-info{
			width: 600px;
			height: 300px;
			font-size: 1rem;
		}
		#sh-order-ri.related-info{
			order: 1;
		}
		
		.content1{
			width: 600px;
			height: 600px;
			font-size: 1rem;
		}
		
		#sh-order-c1.content1{
			order: -1;
		}
	}

	@media (min-width: 1024px) and (max-width: 1349px){
		#home{
			width: 900px;
			height: 1300px;
		}
		.brain{
			top: -15px;
		}
		.brain-container{
			width: 900px;
		}
		.hometag{
			font-size: 4rem;
			padding: 25px 5px 10px 5px;
		}
		.home-container{
			height: 130px;
			width: 80%;
		}
		.container{
			height: 130px;
			width: 100%;

		}
		.self-harm-div{
			top: -660px;
			left: 140px;
		}
		.depression-div{
			top: -870px;
			left: 420px;
		}
		.anxiety-div{
			top: -740px;
			left: 590px;
		}
		.loneliness-div{
			top: -650px;
			left: 345px;
		}
		.about-div{
			top: -589px;
			left: 585px;
		}
		.all-home-buttons{
			font-size: 1.5rem;
		}
		.middle-box{
			top: 420px;
			height: 75px;
		}
		.mid-box-alt{
			top: 700px;
			height: 75px;
		}
		.nav-buttons{
			display: inline-flex;
			flex-flow: row wrap;
			justify-content: center;
			align-content: center;
			width: 170px;
			font-size: 1.55rem;

		}	
		.navigation{
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
		}
		.info-aside{
			width: 600px;
			height: 400px;
			font-size: .95rem;
		}
		#sh-size.info-aside{
			height: 300px;
			width: 860px;
			display: flex;
			flex-flow: row wrap;		
		}
		
		.sh-info-aside{
			margin: 10px 10px -10px 10px;
		}
		#sh-border{
			height: 40px;
			color: #bbb;
			border-left: solid;
			border-left-width: 3px;
			margin-top: 10px;
			padding-top: 0px;

		}
		.sh-numbers{
			margin: -10px 30px;
			padding: 0px 10px 0px 10px;
			font-size: .65em;
		}
		
		.related-info{
			width: 200px;
			height: 600px;
			font-size: .95rem;
		}
		.content1{
			width: 600px;
			height: 600px;
			font-size: .95rem;
		}
	}

	@media (min-width: 1350px) and (max-width: 1919px){
			#home{
				width: 1024px;
				height: 1300px;
			}
			.brain{
				top: -65px;
			}
			.brain-container{
				width: 1024px;
			}
			.hometag{
				font-size: 4rem;
				padding: 20px 5px 10px 5px;
			}
			.home-container{
				height: 130px;
				width: 70%;
			}
			.container{
				height: 130px;
				width: 100%;

			}
			.self-harm-div{
				top: -790px;
				left: 200px;
			}
			.depression-div{
				top: -1000px;
				left: 480px;
			}
			.anxiety-div{
				top: -840px;
				left: 690px;
			}
			.loneliness-div{
				top: -820px;
				left: 415px;
			}
			.about-div{
				top: -745px;
				left: 685px;
			}
			.all-home-buttons{
				font-size: 2rem;
			}
			.middle-box{
				top: 420px;
				height: 100px;
			}
			.mid-box-alt{
				top: 800px;
				height: 100px;
			}
			#sh-color.mid-box-alt{
				top: 900px;
			}
			.nav-buttons{
				display: inline-flex;
				flex-flow: row wrap;
				justify-content: center;
				align-content: center;
				width: 200px;
				font-size: 1.7rem;

			}	
			.navigation{
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
			}
			.info-aside{
				width: 950px;
				height: 400px;
				font-size: 1.2rem;
			}
			#sh-size.info-aside{
				height: 350px;
				width: 1210px;
				display: flex;
				flex-flow: row wrap;		
			}
			
			.sh-info-aside{
				margin: 10px 30px -10px 30px;
			}
			#sh-border{
				height: 50px;
				color: #bbb;
				border-left: solid;
				border-left-width: 3px;
				margin-top: 0px;
				padding-top: 10px;

			}
			.sh-numbers{
				margin: -10px 30px;
				padding: 0px 10px 0px 10px;
				font-size: .75em;
			}
			
			.related-info{
				width: 350px;
				height: 600px;
				font-size: 1.2rem;
			}
			.content1{
				width: 800px;
				height: 600px;
				font-size: 1.2rem;
			}
		}


	@media (min-width: 1920px){
		#home{
			width: 1720px;
			height: 2500px;
		}
		.brain{
			top: -45px;
		}
		.brain-container{
			width: 1720px;
		}
		.hometag{
			font-size: 5.25rem;
			padding: 40px 5px 10px 5px;
		}
		.home-container{
			height: 180px;
			width: 60%;
		}
		.container{
			height: 180px;
			width: 100%;

		}
		.self-harm-div{
			top: -1190px;
			left: 400px;
		}
		.depression-div{
			top: -1600px;
			left: 880px;
		}
		.anxiety-div{
			top: -1240px;
			left: 1190px;
		}
		.loneliness-div{
			top: -1190px;
			left: 775px;
		}
		.about-div{
			top: -929px;
			left: 1200px;
		}
		.all-home-buttons{
			font-size: 2.2rem;
		}
		.middle-box{
			top: 620px;
			height: 125px;
		}
		.mid-box-alt{
			top: 900px;
			height: 125px;
		}
		
		#sh-color.mid-box-alt{
			top: 1200px;
		}
		.nav-buttons{
			display: inline-flex;
			flex-flow: row wrap;
			justify-content: center;
			align-content: center;
			width: 250px;
			font-size: 2.25rem;

		}	
		.navigation{
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
		}
		.info-aside{
			width: 950px;
			height: 400px;
			font-size: 1.8rem;
		}
		#sh-size.info-aside{
			height: 560px;
			width: 1860px;
			display: flex;
			flex-flow: row wrap;		
		}
		
		.sh-info-aside{
			margin: 10px 30px -30px 30px;
		}
		#sh-border{
			height: 80px;
			color: #bbb;
			border-left: solid;
			border-left-width: 3px;
			margin-top: 20px;
			padding-top: 10px;

		}
		.sh-numbers{
			margin: -10px 30px;
			padding: 0px 10px 0px 10px;
			font-size: .85em;
		}
		
		.related-info{
			width: 600px;
			height: 600px;
			font-size: 1.8rem;
		}
		.content1{
			width: 1200px;
			height: 600px;
			font-size: 1.8rem;
		}

	}
	
	.container {
	}
	
	#home{
	}
	
	.hometag {
			background-color: white;
			border-color: white;
			border-style: solid;
			border-width: 2px;
			font-family: 'Luckiest Guy', cursive;
			text-align: center;
	}
	
	#home-title{
		border-bottom-right-radius: 20px;
		border-top-right-radius: 20px;
	}

	#sh {
		background-color: #27AAE1;
		border-color: #27AAE1;
		color: #000000;
	}
	
	#dep {
		background-color: #B743DE;
		border-color: #B743DE;
		color: #000000;
	}
	
	#anx{
		background-color: #EE2A78;
		border-color: #EE2A78;
		color: #000000;
	}
	
	#lone{
		background-color: #FFDE17;
		border-color: #FFDE17;
		color: #000000;
	}
	
	#about{
		background-color: #8DC63F;
		border-color: #8DC63F;
		color: #000000;
	}

	.brain-container {
		display: inline;
		z-index: 1;
	}
	
	.brain {
		position: relative;
		z-index: 1;
	}
	
	a.button-link{
		color: #000000;
		text-decoration: none;	
	}
	a.button-link:focus{
		color: #000000;
		text-decoration: none;
	}
	a.button-link:hover{
		color: #FFFFFF;
		text-decoration: none;
	}
	.all-home-buttons{
		background-color: #000000;
		border-style: solid;
		border-width: 2px;
		border-color: #000000;
		color: #000000;
		padding: 7px 19px 9px 19px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-family: 'Playfair Display', serif;
		font-weight: 300;
		font-variant: small-caps;
		line-height: 97%;
		border-radius: 25px;
		box-shadow: inset 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);
	}
		
	.self-harm-div{
		position: relative;
		z-index: 1;
		width: 200px;
		text-align: center;
	}

	#shbutton {
		background: linear-gradient(to bottom , #333333, 1%, #27AAE1 100%);
		
	}
	
	.depression-div{
		position: relative;
		z-index: 1;
		width: 200px;
		text-align: center;
	}
		
	#depbutton {
		background: linear-gradient(to bottom , #333333, 1%, #B743DE 100%);
	}

	.anxiety-div{
			position: relative;
			z-index: 1;
			width: 200px;
			text-align: center;
	}
		
	#anxbutton {
		background: linear-gradient(to bottom , #333333, 1%, #EE2A78 100%);
	}

	.loneliness-div{
				position: relative;
				z-index: 1;
				width: 200px;
				text-align: center;
	}
			
	#lonebutton {
		background: linear-gradient(to bottom , #333333, 1%, #FFDE17 100%);
	}

	.about-div{
		position: relative;
		z-index: 1;
		width: 200px;
		text-align: center;
	}
				
	#aboutbutton {
		background: linear-gradient(to bottom , #333333, 1%, #8DC63F 100%);
	}
	
	
	.nav-buttons{
		font-family: 'Playfair Display', serif;
		text-align: center;
		text-decoration: none;
		font-weight: 600;
		font-variant: small-caps;
		border-radius: 10px;
		border-style: outset;
		border-width: 2px;
		border-color: #000000;
		color: #000000;
		margin: 4px 4px;
		padding: 0 12px 3px 12px;
	}
	
	a.nav-button-link{
		color: #000000;
		text-decoration: none;
	}
	a.nav-button-link:focus{
		color: #000000;
		text-decoration: none;
	}
	a.nav-button-link:hover{
		color: #AAAAAA;
		text-decoration: none;
	}

	a.nav-button-link.self-harm:hover{
		color: #27AAE1;
		text-decoration: none;
	}
	
	a.nav-button-link.depression:hover{
		color: #B743DE;
		text-decoration: none;
	}
	
	a.nav-button-link.anxiety:hover{
		color: #EE2A78;
		text-decoration: none;
	}
	
	a.nav-button-link.loneliness:hover{
		color: #FFDE17;
		text-decoration: none;
	}
	
	a.nav-button-link.about:hover{
		color: #8DC63F;
		text-decoration: none;
	}
		
		
	#home-nav-button{
		background-color: #FFFFFF;
	}
	
	#self-harm-nav-button{
		background-color: #27AAE1;
	}
	
	#depression-nav-button{
		background-color: #B743DE;
	}
	
	#anxiety-nav-button{
		background-color: #EE2A78;
	}
	
	#loneliness-nav-button{
		background-color: #FFDE17;
	}
	
	#about-nav-button{
		background-color: #8DC63F;
	}
	
	.buttons{
		z-index: -2;
	}	
	
	.page{
		display: flex;
		flex-flow: row wrap;
		position: relative;
		top: 30px;
		justify-content: center;
		z-index: 1;
		
	}
	.about-boxes{
		display: flex;
		flex-flow: row nowrap;
		position: relative;
		top: 30px;
		justify-content: center;
		z-index: 1;

	}
	
	h2.small-caps{
		font-variant: small-caps;
	}
	.info-aside{
		background-color: #FFFFFF;
		color: #000000;
		font-weight: 400;
		line-height: 160%;
		border-radius: 10px;
		border-style: solid;
		border-width: 2px;
		border-color: #FFFFFF;
		margin: 0 20px 30px 0;
		padding: 5px 20px 20px 20px;
	}
	
	.related-info{
		background-color: #FFFFFF;
		color: #000000;
		font-weight: 400;
		line-height: 160%;
		border-radius: 10px;
		border-style: solid;
		border-width: 2px;
		border-color: #FFFFFF;
		margin: 0 20px 30px 0;
		padding: 5px 20px 20px 20px;

	}
	.content1{
		background-color: #FFFFFF;
		color: #000000;
		font-weight: 400;
		border-radius: 10px;
		border-style: solid;
		border-width: 2px;
		border-color: #FFFFFF;
		margin: 0 20px 30px 0;
		padding: 5px 20px 20px 20px;

	}
	
	#sh-color{
		background-color: #27AAE1;
	}
	
	#dep-color{
		background-color: #B743DE;
	}
	
	#anx-color{
		background-color: #EE2A78;
	}
	
	#lone-color{
		background-color: #FFDE17;
	}
	
	#about-color{
		background-color: #8DC63F;
	}
	
	#home-color{
		background-color: #000000;
	}
	
	.middle-box{
		position: absolute;
		left: 0px;
		width: 100%;
		z-index: 0;	
	}	
	
	.mid-box-alt{
			position: absolute;
			left: 0px;
			width: 100%;
			z-index: 0;	
	}	
	

	.blueStyle{fill:#000000;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.blueStyle:hover {fill:#27AAE1;stroke:#27AAE1;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.blueStyle2 {fill:#27AAE1;stroke:#27AAE1;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	
	.purpleStyle{fill:#000000;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.purpleStyle:hover {fill:#B743DE;stroke:#B743DE;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

	.pinkStyle{fill:#000000;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pinkStyle:hover {fill:#EE2A78;stroke:#EE2A78;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	
	.yellowStyle{fill:#000000;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.yellowStyle:hover {fill:#FFDE17;stroke:#FFDE17;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	
	.greenStyle{fill:#000000;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.greenStyle:hover {fill:#8DC63F;stroke:#8DC63F;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

