	html, body {
		display: flex;
		flex-flow: row wrap;
		background-color: #444;
		margin: 0;
		z-index: -2;
		font-family: 'Playfair Display', serif;
	}
	
	#pgs{
		background-color: #DDD;
	}
	
	@media (min-width: 10px) and (max-width: 320px) {
		body{
			width: 320px;
			height: 600px;
		}
		.brain-container{
			width: 320px;
			height: 600px;
		}
		.hometag{
			width: 100%;
			height: 100%;
		}
		.container{
			width: 320px;
			height: 100px;
		}
		
	}

	@media (min-width: 321px) and (max-width: 375px){
		body{
			width: 375px;
			height: 700px;
		}
		.brain-container{
			width: 370px;
			height: 700px;
		}
		.hometag{
			width: 100%;
			height: 100%;
		}
		.container{
			width: 375px;
			height: 100px;
		}
	}
	
	@media (min-width: 376px) and (max-width: 599px){
		body{
			width: 599px;
			height: 700px;
		}
		.brain-container{
			width: 425px;
			height: 700px;
		}
		.hometag{
			width: 100%;
			height: 100%;
		}
		.container{
			width: 425px;
			height: 100px;
		}
	}
	@media (min-width: 600px) and (max-width: 767px){
		body{
			width: 767px;
			height: 900px;
		}
		.brain-container{
			width: 760px;
			height: 900px;
		}
		.hometag{
			width: 100%;
			height: 100%;
		}
		.container{
			width: 425px;
			height: 100px;
		}
	}

	@media (min-width: 768px) and (max-width: 1023px){
		body{
			width: 1023px;
			height: 1200px;
		}	
		.brain-container{
			width: 900px;
			height: 1200px;
		}
		.hometag{
			width: 100%;
			height: 100%;
		}
		.container{
			width: 426px;
			height: 100px;
		}
	}

	@media (min-width: 1024px) and (max-width: 1919px){
		body{
			width: 1919px;
			height: 1300px;
		}
		.brain-container{
			width: 1000px;
			height: 1200px;
		}
		.hometag{
			width: 100%;
			height: 100%;
		}
		.container{
			width: 450px;
			height: 100px;
		}
	}

	@media (min-width: 1920px){
		body{
			width: 2500px;
			height: 2500px;
		}
		.brain-container{
			width: 2050px;
			height: 2500px;
		}
		.hometag{
			width: 50%;
			height: 100%;
		}
		.container{
			width: 1800px;
			height: 150px;
		}
	}
	
	.container {
		display: flex;
		flex-flow: column wrap;
		margin-top: 30px;

		
	}
	
	.hometag {
			background-color: white;
			border-color: white;
			border-style: solid;
			border-width: 2px;
			border-bottom-right-radius: 20px;
			border-top-right-radius: 20px;
			font-family: 'Luckiest Guy', cursive;
			text-align: center;
			font-size: 4.25rem;
			padding: 20px 5px 0px 5px;
		}

	#sh {
		background-color: #27AAE1;
		border-color: #27AAE1;
		color: #000000;
	}
	
	#dep {
		background-color: #B743DE;
		border-color: #B743DE;
		color: #000000;
	}
	
	#anx{
		background-color: #EE2A78;
		border-color: #EE2A78;
		color: #000000;
	}
	
	#lone{
		background-color: #FFDE17;
		border-color: #FFDE17;
		color: #000000;
	}
	
	#about{
		background-color: #8DC63F;
		border-color: #8DC63F;
		color: #000000;
	}

	img.star1{
		width: 5%;
		height: 5%;
		position: relative;
		left: -95px;
		top: 66px;

	}
	
	img.star2{
		width: 4%;
		height: 4%;
		position: relative;
		left: -368px;
		top: 8px;
	}

	.brain-container {
		display: inline;
	}
	
	.brain {
		position: relative;		
	}
	
	.self-harm-div{
		position: relative;
		top: -720px;
		left: 165px;
		z-index: 1;
		width: 200px;
		height: 100px;
		text-align: center;
	}
	
	.all-home-buttons{
		background-color: #000000;
		border-style: groove;
		border-width: 2px;
		border-color: #000000;
		color: #000000;
		padding: 2px 12px 7px 12px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 1.5rem;
		font-weight: 300;
		font-variant: small-caps;
		line-height: 97%;
		border-radius: 25px;
		box-shadow: inset 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);
	}
	
	#shbutton {
		background: linear-gradient(to bottom , #333333, 1%, #27AAE1 100%);
		
	}
	
	.depression-div{
			position: relative;
			top: 150px;
			left: -585px;
			z-index: 1;
			width: 200px;
			height: 100px;
			text-align: center;
	}
		
	#depbutton {
		background: linear-gradient(to bottom , #333333, 1%, #B743DE 100%);
	}

	.anxiety-div{
			position: relative;
			top: -850px;
			left: 620px;
			z-index: 1;
			width: 200px;
			height: 100px;
			text-align: center;
	}
		
	#anxbutton {
		background: linear-gradient(to bottom , #333333, 1%, #EE2A78 100%);
	}

	.loneliness-div{
				position: relative;
				top: -720px;
				left: 165px;
				z-index: 1;
				width: 200px;
				height: 100px;
				text-align: center;
	}
			
	#lonebutton {
		background: linear-gradient(to bottom , #333333, 1%, #FFDE17 100%);
	}

	.about-div{
		position: relative;
		top: -580px;
		left: 185px;
		z-index: 1;
		width: 200px;
		height: 100px;
		text-align: center;
		}
				
	#aboutbutton {
		background: linear-gradient(to bottom , #333333, 1%, #8DC63F 100%);
	}



	.nav-buttons{
		text-align: center;
		text-decoration: none;
		font-size: 1.25rem;
		font-weight: 600;
		font-variant: small-caps;
		border-radius: 10px;
		border-style: outset;
		border-width: 2px;
		border-color: #000000;
		color: #000000;
		padding: 0 12px 5px 12px;
		margin: 10px;
	}
	
	.navigation{
		display: flex;
		flex-direction: row nowrap;
		position: relative;
		top: 150px;
		left: -400px;
	}
	
	#home-nav-button{
		background-color: #FFFFFF;
	}
	
	#self-harm-nav-button{
		background-color: #27AAE1;
	}
	
	#depression-nav-button{
		background-color: #B743DE;
	}
	
	#anxiety-nav-button{
		background-color: #EE2A78;
	}
	
	#loneliness-nav-button{
		background-color: #FFDE17;
	}
	
	#about-nav-button{
		background-color: #8DC63F;
	}
	
	.buttons{
		z-index: -2;
	}	
	
	.page{
		display: flex;
		flex-direction: row;
		position: relative;
		top: -190px;
		left: 59px;
		
	}
	
	.info-aside{
		background-color: #FFFFFF;
		color: #000000;
		width: 300px;
		height: 600px;
		font-size: 1rem;
		font-weight: 400;
		line-height: 160%;
		border-radius: 10px;
		border-style: solid;
		border-width: 2px;
		border-color: #FFFFFF;
		margin: 0 20px 0 0;
		padding: 5px 20px 20px 20px;
	}
	
	.content1{
		background-color: #FFFFFF;
		color: #000000;
		width: 700px;
		font-size: 1rem;
		font-weight: 400;
		border-radius: 10px;
		border-style: solid;
		border-width: 2px;
		border-color: #FFFFFF;
		padding: 5px 20px 20px 20px;

	}
	
	#sh-color{
		background-color: #27AAE1;
	}
	
	#dep-color{
		background-color: #B743DE;
	}
	
	#anx-color{
		background-color: #EE2A78;
	}
	
	#lone-color{
		background-color: #FFDE17;
	}
	
	#about-color{
		background-color: #8DC63F;
	}
	
	#home-color{
		background-color: #000000;
	}
	
	.middle-box{
		position: fixed;
		top: 450px;
		width: 100%;
		height: 50px;
		z-index: -1;	
	}	
	
	.customQTip {
		border-color: #000000;
		border-width: 10px;
		background-color: #D6FAFF;
	}
	
	.boxClass {
		border-color: #000000;
		border-width: 5px;
		background-color: #FFFFFF;
		stroke: #000000;
		width: 150px;
		height: 60px;
	}
	
	.boxClass .qtip-content{
		font-family: 'MyriadPro-Bold';
		font-size: 24px;
		line-height: 100%;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%)
	}


	.blueStyle{fill:#000000;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.blueStyle:hover {fill:#27AAE1;stroke:#27AAE1;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.blueStyle2 {fill:#27AAE1;stroke:#27AAE1;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	
	.purpleStyle{fill:#000000;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.purpleStyle:hover {fill:#B743DE;stroke:#B743DE;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

	.pinkStyle{fill:#000000;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pinkStyle:hover {fill:#EE2A78;stroke:#EE2A78;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	
	.yellowStyle{fill:#000000;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.yellowStyle:hover {fill:#FFDE17;stroke:#FFDE17;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	
	.greenStyle{fill:#000000;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.greenStyle:hover {fill:#8DC63F;stroke:#8DC63F;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

